html,
body {
	margin:0;
	padding:0;
	height:100%;
	background: #ccfeca;
}
p {
	margin: 0, 0, 0px;
}
wrapper {
	min-height:100%;
	position:relative;
}
h1 {
	text-transform: uppercase;
	text-align: center;
	font-family: "Oswald",Helvetica,Arial,sans-serif;
    	font-weight: 900;
    	letter-spacing: 1px;
    	font-size: 50;
	
}
h2, {
	text-align: center;
	font-family:"cursive";
	font-weight: 500;
	letter-spacing: 2px;
	font-size: 20;
}
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    text-align: center;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
}
div.home {
    height: 400px;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 30%;
}
a:link { 
	 text-decoration: none;
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: black;
    border: 2px;
    border-color: #1c263c;
    background-color: white;
    text-align: center;
}

a.button:hover {
	background-color:#ccfeca;
	text-decoration: none;
}


header {
	color:#1c263c;
	background:#bbc1bc;
	padding:20px;
	opacity: 0;
}
header:hover {
	opacity: 1.0;
}

content {
	padding-bottom: 50px; /* Height of the footer element */
}

div.feedback {
	float: left;
	position: fixed;
	bottom: 0;
	width: 100%;
}

div.chatroom {
	border: 3px;
}

footer {
	color: #1c263c;
	text-size: 10;
	background:#bbc1bc;
	width:100%;
	height:50 px;
	position:absolute;
	bottom:0;
	left:0;
	opacity: 0;
}
footer:hover {
	opacity: 1.0;
}
